@media screen and(max-width: 992px){
  body{
    font-family: "Goldman", cursive;
  }
}
@media screen and(max-width: 768px){
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
  background-image: url(1080phacker.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 99vw;
  height: 99vh;
  z-index: -50;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  z-index: 250;
  margin-top: -39vh;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}

body {
  background-color: black;
}

#container {
  height: 25rem;
  width: 40rem;
  position: relative;
}

#image {
  position: center;
  left: 130rem;
  top: -5rem;
  height: 120rem;
  width: 200rem;
  margin-left: -1rem;
  z-index: -5;
}
#head1 {
  position: center;
  color: white;
  font-size: 7rem;
  margin-left: 1vw;
  margin-top: 38vh;
}

h2 {
  color: white;
  font-size: 6rem;
  margin-top: 90vh;
}
#htmlh2 {
  margin-top: 70rem;
  margin-left: 40vw;
}
p {
  color: white;
  text-align: right;
  font-size: 150213132123vh;
  margin-top: -20vh;
}
#text2 {
  z-index: 200;
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: -29vh;
  margin-left: 42vw;
}
#javaimg {
  margin-top: 15rem;
  margin-left: 140rem;
  height: 360px;
}
#javatxt {
  z-index: 200;
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: -29vh;
  margin-left: 4rem;
}
#h2java {
  margin-top: 30rem;
  margin-left: 40vw;
}
#phph2 {
  margin-top: 30rem;
  margin-left: 45vw;
}
#PHPimg {
  height: 60rem;
}
#phptxt {
  z-index: 200;
  margin-right: 4rem;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: -40rem;
}
#mysqlh2 {
  margin-top: 30rem;
  margin-left: 43vw;
}
#sqlimg {
  z-index: 200;
  margin-left: 140rem;
  margin-top: 20rem;
  height: 40vh;
  width: 20vw;
}
#sqltxt {
  z-index: 200;
  position: absolute;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-top: -29vh;
  margin-left: 4rem;
}
#footer {
  width: 100vw;
  height: 10vh;
  background-color: #00a8c7;
  color: white;
  text-align: center;
  font-size: 200%;
}
.navbar a {
  float: left;
  font-size: 1rem;
  color: #00a8c7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  -ms-flex-align: start;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 2.5rem;  
  border: none;
  outline: none;
  color: white;
  justify-content: space-around;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #02c5e7;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16rem;
  box-shadow: 0rem 0.8rem 1.6rem 0rem rgba(0,0,0,0.2);
  z-index: 1;
 
}

.dropdown-content a {
  display:flex;
  margin: 1rem;
  color:white;
  justify-content:space-between;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #E9E9E9;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#drptxt{
  color: #02c5e7;
}