*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-family: "Poppins", sans-serif;
}
.hdrtxt {
  border: 3rem solid rgb(123, 206, 0);
  background-color: rgb(123, 206, 0);
  text-align: center;
  margin-left: -25rem;
  color: white;
}
nav {
  height: 100vh;
  width: 20%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: left;
  top: 0;
  position: sticky;
  padding-left: 1rem;
  flex-wrap: wrap;
  background-color: rgb(123, 206, 0);
}
a {
  position: relative;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 2rem;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
a:after {
  content: "";
  position: absolute;
  background-color: #8abd48;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
a:hover {
  color: #ffffff;
}
a:hover:after {
  width: 100%;
}

li {
  padding: 0.5rem;
}

h1 {
  position: top;
  padding-left: 35rem;
}
.tcrimg {
  z-index: 12;
  margin: 0.3rem -1rem;
  position: absolute;
  height: 22vh;
  width: 22vw;
}
